/*
**  You can use the following classes if you really need to use it as a class (f.e. in HTML, jQuery, ...).
**  In any other cases - like the ones addressed above - just use the mixin or the function. 
**  With #color a number from 1-50:
**      use .color-claim-#color to set both the background-color and color attributes,
**      .color-claim-bg-#color to only set the background-color attribute,
**      .color-claim-text-#color to only set the color attribute.
*/
.color-claim-1 {
  color: #FF8B8B !important;
  color: #F9F8E6 !important; }

.color-claim-bg-1 {
  color: #FF8B8B !important; }

.color-claim-text-1 {
  color: #F9F8E6 !important; }

.color-claim-2 {
  color: #F9F7E8 !important;
  color: #62BFAD !important; }

.color-claim-bg-2 {
  color: #F9F7E8 !important; }

.color-claim-text-2 {
  color: #62BFAD !important; }

.color-claim-3 {
  color: #61BFAD !important;
  color: #FFFFFF !important; }

.color-claim-bg-3 {
  color: #61BFAD !important; }

.color-claim-text-3 {
  color: #FFFFFF !important; }

.color-claim-4 {
  color: #E54B4B !important;
  color: #FFFFFF !important; }

.color-claim-bg-4 {
  color: #E54B4B !important; }

.color-claim-text-4 {
  color: #FFFFFF !important; }

.color-claim-5 {
  color: #167C80 !important;
  color: #FFFFFF !important; }

.color-claim-bg-5 {
  color: #167C80 !important; }

.color-claim-text-5 {
  color: #FFFFFF !important; }

.color-claim-6 {
  color: #B7E3E4 !important;
  color: #F03F35 !important; }

.color-claim-bg-6 {
  color: #B7E3E4 !important; }

.color-claim-text-6 {
  color: #F03F35 !important; }

.color-claim-7 {
  color: #EFE8D8 !important;
  color: #FF4552 !important; }

.color-claim-bg-7 {
  color: #EFE8D8 !important; }

.color-claim-text-7 {
  color: #FF4552 !important; }

.color-claim-8 {
  color: #005397 !important;
  color: #E13334 !important; }

.color-claim-bg-8 {
  color: #005397 !important; }

.color-claim-text-8 {
  color: #E13334 !important; }

.color-claim-9 {
  color: #32B67A !important;
  color: #FFFFFF !important; }

.color-claim-bg-9 {
  color: #32B67A !important; }

.color-claim-text-9 {
  color: #FFFFFF !important; }

.color-claim-10 {
  color: #FACAC0 !important;
  color: #000000 !important; }

.color-claim-bg-10 {
  color: #FACAC0 !important; }

.color-claim-text-10 {
  color: #000000 !important; }

.color-claim-11 {
  color: #F3C9DD !important;
  color: #CEECF7 !important; }

.color-claim-bg-11 {
  color: #F3C9DD !important; }

.color-claim-text-11 {
  color: #CEECF7 !important; }

.color-claim-12 {
  color: #0BBCD6 !important;
  color: #E6625E !important; }

.color-claim-bg-12 {
  color: #0BBCD6 !important; }

.color-claim-text-12 {
  color: #E6625E !important; }

.color-claim-13 {
  color: #BFB5D7 !important;
  color: #FFFFFF !important; }

.color-claim-bg-13 {
  color: #BFB5D7 !important; }

.color-claim-text-13 {
  color: #FFFFFF !important; }

.color-claim-14 {
  color: #BEA1A5 !important;
  color: #2D1FE8 !important; }

.color-claim-bg-14 {
  color: #BEA1A5 !important; }

.color-claim-text-14 {
  color: #2D1FE8 !important; }

.color-claim-15 {
  color: #F0CF61 !important;
  color: #EBE8E1 !important; }

.color-claim-bg-15 {
  color: #F0CF61 !important; }

.color-claim-text-15 {
  color: #EBE8E1 !important; }

.color-claim-16 {
  color: #0E38B1 !important;
  color: #FFFFFF !important; }

.color-claim-bg-16 {
  color: #0E38B1 !important; }

.color-claim-text-16 {
  color: #FFFFFF !important; }

.color-claim-17 {
  color: #A6CFE2 !important;
  color: #0B0C11 !important; }

.color-claim-bg-17 {
  color: #A6CFE2 !important; }

.color-claim-text-17 {
  color: #0B0C11 !important; }

.color-claim-18 {
  color: #371722 !important;
  color: #BBAB9B !important; }

.color-claim-bg-18 {
  color: #371722 !important; }

.color-claim-text-18 {
  color: #BBAB9B !important; }

.color-claim-19 {
  color: #C7C6C4 !important;
  color: #008E8F !important; }

.color-claim-bg-19 {
  color: #C7C6C4 !important; }

.color-claim-text-19 {
  color: #008E8F !important; }

.color-claim-20 {
  color: #D9BAAD !important;
  color: #CF2F89 !important; }

.color-claim-bg-20 {
  color: #D9BAAD !important; }

.color-claim-text-20 {
  color: #CF2F89 !important; }

.color-claim-21 {
  color: #F1C3B8 !important;
  color: #19227D !important; }

.color-claim-bg-21 {
  color: #F1C3B8 !important; }

.color-claim-text-21 {
  color: #19227D !important; }

.color-claim-22 {
  color: #EF3E4A !important;
  color: #96CBD1 !important; }

.color-claim-bg-22 {
  color: #EF3E4A !important; }

.color-claim-text-22 {
  color: #96CBD1 !important; }

.color-claim-23 {
  color: #C0C2CE !important;
  color: #FE667B !important; }

.color-claim-bg-23 {
  color: #C0C2CE !important; }

.color-claim-text-23 {
  color: #FE667B !important; }

.color-claim-24 {
  color: #EEC0DB !important;
  color: #162BF4 !important; }

.color-claim-bg-24 {
  color: #EEC0DB !important; }

.color-claim-text-24 {
  color: #162BF4 !important; }

.color-claim-25 {
  color: #B6CAC0 !important;
  color: #C02A1B !important; }

.color-claim-bg-25 {
  color: #B6CAC0 !important; }

.color-claim-text-25 {
  color: #C02A1B !important; }

.color-claim-26 {
  color: #C5BEAA !important;
  color: #B32A48 !important; }

.color-claim-bg-26 {
  color: #C5BEAA !important; }

.color-claim-text-26 {
  color: #B32A48 !important; }

.color-claim-27 {
  color: #FDF06F !important;
  color: #D31B33 !important; }

.color-claim-bg-27 {
  color: #FDF06F !important; }

.color-claim-text-27 {
  color: #D31B33 !important; }

.color-claim-28 {
  color: #EDB5DB !important;
  color: #BEDFD4 !important; }

.color-claim-bg-28 {
  color: #EDB5DB !important; }

.color-claim-text-28 {
  color: #BEDFD4 !important; }

.color-claim-29 {
  color: #17C37B !important;
  color: #FFFFFF !important; }

.color-claim-bg-29 {
  color: #17C37B !important; }

.color-claim-text-29 {
  color: #FFFFFF !important; }

.color-claim-30 {
  color: #2C3979 !important;
  color: #15A29C !important; }

.color-claim-bg-30 {
  color: #2C3979 !important; }

.color-claim-text-30 {
  color: #15A29C !important; }

.color-claim-31 {
  color: #1B1D1C !important;
  color: #EA1821 !important; }

.color-claim-bg-31 {
  color: #1B1D1C !important; }

.color-claim-text-31 {
  color: #EA1821 !important; }

.color-claim-32 {
  color: #E88565 !important;
  color: #181A27 !important; }

.color-claim-bg-32 {
  color: #E88565 !important; }

.color-claim-text-32 {
  color: #181A27 !important; }

.color-claim-33 {
  color: #FFEFE5 !important;
  color: #1FC8A9 !important; }

.color-claim-bg-33 {
  color: #FFEFE5 !important; }

.color-claim-text-33 {
  color: #1FC8A9 !important; }

.color-claim-34 {
  color: #F4C7EE !important;
  color: #008FD3 !important; }

.color-claim-bg-34 {
  color: #F4C7EE !important; }

.color-claim-text-34 {
  color: #008FD3 !important; }

.color-claim-35 {
  color: #77EEDF !important;
  color: #28292B !important; }

.color-claim-bg-35 {
  color: #77EEDF !important; }

.color-claim-text-35 {
  color: #28292B !important; }

.color-claim-36 {
  color: #E57066 !important;
  color: #28292B !important; }

.color-claim-bg-36 {
  color: #E57066 !important; }

.color-claim-text-36 {
  color: #28292B !important; }

.color-claim-37 {
  color: #EED974 !important;
  color: #28292B !important; }

.color-claim-bg-37 {
  color: #EED974 !important; }

.color-claim-text-37 {
  color: #28292B !important; }

.color-claim-38 {
  color: #FBFE56 !important;
  color: #0B64C0 !important; }

.color-claim-bg-38 {
  color: #FBFE56 !important; }

.color-claim-text-38 {
  color: #0B64C0 !important; }

.color-claim-39 {
  color: #A7BBC3 !important;
  color: #C886A2 !important; }

.color-claim-bg-39 {
  color: #A7BBC3 !important; }

.color-claim-text-39 {
  color: #C886A2 !important; }

.color-claim-40 {
  color: #3C485E !important;
  color: #E9E8D4 !important; }

.color-claim-bg-40 {
  color: #3C485E !important; }

.color-claim-text-40 {
  color: #E9E8D4 !important; }

.color-claim-41 {
  color: #055A5B !important;
  color: #E6E6E6 !important; }

.color-claim-bg-41 {
  color: #055A5B !important; }

.color-claim-text-41 {
  color: #E6E6E6 !important; }

.color-claim-42 {
  color: #178E96 !important;
  color: #FDE3C8 !important; }

.color-claim-bg-42 {
  color: #178E96 !important; }

.color-claim-text-42 {
  color: #FDE3C8 !important; }

.color-claim-43 {
  color: #D3E8E1 !important;
  color: #E44A66 !important; }

.color-claim-bg-43 {
  color: #D3E8E1 !important; }

.color-claim-text-43 {
  color: #E44A66 !important; }

.color-claim-44 {
  color: #CBA0AA !important;
  color: #FAE397 !important; }

.color-claim-bg-44 {
  color: #CBA0AA !important; }

.color-claim-text-44 {
  color: #FAE397 !important; }

.color-claim-45 {
  color: #9C9CDD !important;
  color: #F9BDBD !important; }

.color-claim-bg-45 {
  color: #9C9CDD !important; }

.color-claim-text-45 {
  color: #F9BDBD !important; }

.color-claim-46 {
  color: #20AD65 !important;
  color: #FEC8BE !important; }

.color-claim-bg-46 {
  color: #20AD65 !important; }

.color-claim-text-46 {
  color: #FEC8BE !important; }

.color-claim-47 {
  color: #E75152 !important;
  color: #58B89D !important; }

.color-claim-bg-47 {
  color: #E75152 !important; }

.color-claim-text-47 {
  color: #58B89D !important; }

.color-claim-48 {
  color: #4F3A4B !important;
  color: #FBECCF !important; }

.color-claim-bg-48 {
  color: #4F3A4B !important; }

.color-claim-text-48 {
  color: #FBECCF !important; }

.color-claim-49 {
  color: #112378 !important;
  color: #E75152 !important; }

.color-claim-bg-49 {
  color: #112378 !important; }

.color-claim-text-49 {
  color: #E75152 !important; }

.color-claim-50 {
  color: #E33946 !important;
  color: #FBECCF !important; }

.color-claim-bg-50 {
  color: #E33946 !important; }

.color-claim-text-50 {
  color: #FBECCF !important; }
